<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">
                <img src="/images/favicon.ico" class="img-size center-block" alt="Brand"/>
            </a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">主页</a></li>
                <li><a href="/editor">内联文本编辑器</a></li>
                <li><a href="/order">订单表单</a></li>
                <li><a href="/search">即时搜索</a></li>
                <li><a href="/network">切换网络</a></li>
                <li><a href="/about">关于</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="https://github.com/JiangInk/angular-express-demo.git">
                        <span class="glyphicon glyphicon-link"></span>
                        Github Link
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
