<!DOCTYPE html>
<html>
  <head>
    <title>angular-express-demo</title>
    <base href="/"/>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script type="text/javascript" src="/bower_components/angular/angular.js"></script>
      <script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
      <script type="text/javascript" src="/bower_components/angular-resource/angular-resource.js"></script>
      <script type="text/javascript" src="/javascripts/angular/app.js"></script>
      <script type="text/javascript" src="/javascripts/angular/controllers.js"></script>
      <script type="text/javascript" src="/javascripts/angular/directives.js"></script>
      <script type="text/javascript" src="/javascripts/angular/filters.js"></script>
      <script type="text/javascript" src="/javascripts/angular/services.js"></script>
  </head>
  <body ng-app="seedApp">

    <!-- include navbar & jumbotron -->
    <% include ./partials/navPart.html %>
    <!--angular routes-->
    <article class="col-md-12" ng-view></article>

    <footer class="col-md-12">
        <hr/>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>
            &copy; 2015 <a href="https://github.com/JiangInk">JiangInk</a>. &nbsp;
            Powered by <a href="https://github.com/JiangInk/angular-express-seed.git">angular-express-seed</a>.
        </p>
    </footer>

  </body>
</html>
